    <div class="banner-inner fill" id="containerBanner">
        <div class="bg fill bg-fill bg-loaded" id="bannerImagen"></div>
            <div class="text-inner text-center" id="textoBanner">
                    <div class="" id="container2">
                        <h1 class="uppercase">
                            <strong>Core Features</strong>
                        </h1>
                        <p class="lead">Quick Overview of Flatsome Core Features</p>
                    </div>
                </div>
            </div>
    <div class="container" id="contenedor3">
      <table class="table" id="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Dominios</th>
            <th scope="col">País</th>
            <th scope="col">Pagina web</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaJuegos">
            <th scope="row">{{item.domains}}</th>
            <td>{{item.country}}</td>
            <td>{{item.web_pages}}</td>
            <td>{{item.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>  
